.navigation2{
    background-color: #1a1a1a;
    border-bottom: 1px solid #44D62C;
}
@media all and (max-width:767px){
 .margin-between1{
    margin-left: calc(10px + 0.5vw) ;
    
}
.margin-between2{
    margin-left: calc(5px + 0.3vw) ;
}  
 .margin-top{
    margin-top: 40px;
 }

.margin-top2{
    margin-top: 40px;
}
.footer2{
    display: flex;
}
}
@media all and (min-width:768px) {
    .margin-between1{
        margin-left: calc(10px + 0.5vw) ;
        
}
.margin-between2{
    margin-left: calc(5px + 0.3vw) ;
}
 .margin-top{
    margin-top: 40px;
  }
  .margin-top2{
    margin-top: 40px;
}
.footer2{
    display: flex;
}
.direction-icon{
    direction: rtl;
}
}


.text1{
    background: #555;
    color: #eeeeee;
    padding: 10px;
    font-size: 16px;
    flex-wrap: wrap;
    
}
.border-top{
    border-top: #44d62c;
}

.text-navbar2{
    color: #b6b6b6;
    font-size: 12px;
}


.search{
    width: 20px;
    
}
.shopping{
    width: 20px;
}
.logo{
    width: 40px;
}
.bg1{
    background-color: #000000;

}
.bg2{
    background-color: #1a1a1a;
    margin-top: 56px;

}
.bg3{
    background-color: #111111;
   

}

.text3{
    color: #44d62c;
    font-size:35px ;
    padding-top: 30px;
    flex-wrap: wrap;
}

.text4{
     color: #7e7e7e;
     font-size:20px ;
     padding-top: 10px;
     padding-bottom: 30px;
     flex-wrap: wrap;
}
.bg4{
    background-color: #252525;
    height: 600px;
    width: 100%;
}
.margin1{
    padding: 20px 50px;
}
.img11{
    width: 381px;
}
.img12{
    width: 381px;
}
.img13{
    width: 381px;
}
.card-color{
    background-color: #111111;
    height: 500px;
}
.card-text11{
    color: #ffffff;
}
.card-text12{
    color: #767676;
}
.color-link{
    color: #41cc2a;
}
.card-text21{
    color: #ffffff;
}
.card-text22{
    color: #767676;
}
.card-text31{
    color: #ffffff;
}
.card-text32{
    color: #767676;
}
.bg5{
    background-color: #111111;
    height: 200px;
}
.text5{
    color: #3ab227;
    
}
.text6{
    color: #929292;
}
.bg6{
    background-color: #252525;
}
.setup{
    width: 250px;
}
.text8{
    font-size: 15px;
    color: #3ab227
}
.footer-top{
    background-color: #111111;
}
li{
    color: #999999;
    list-style-type: none;
}
.facebook{
    color: #3ab227;
    width: 20px;

}
.instagram{
    color: #3ab227;
    width: 20px;

}
.twitter{
    width: 20px;
}
.text-footer{
    color: #999999;
}
.footer{
    background-color: #111111;
    font-size: 14px;

}

