.navigation2{
    background-color: #1a1a1a;
    border-bottom: 1px solid #44D62C;
}
.margin-between1{
    margin-left: 50px;
    
}
.margin-between2{
    margin-left: 25px;
    
}
.text1{
    background: #555;
    color: #eeeeee;
    height: 44px;
    line-height: 44px
}